body {
    background-color: #e4e4e4;
    height:100%;

}
.home-img{
    position:absolute;
    display: block;
    background-image: url("../img/p1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    width: 80%;
    margin-left: 20%;
    float:left;

}
nav {
    z-index: 100;
}

#account, #sign-out {
    height: 100%;
    
}
<<<<<<< Updated upstream


.boxExample{
    padding: 20px;
  }
=======
.text-center{
    background-image: url("../img/lg-bk.jpg");

    font-size: 1vw;
    float:left;
    margin-top: 0%;
    margin-left: 0%;
    height: 100%;
    width: 20%;
    background-color: #e4e4e4;
}
.text-center p{
    margin-top: 20%;
}
.text-center a{
    margin-top: 10px;
    margin-left: 15px;
}
.login{
    width: 100%;
}
.login p{
    text-align: left;
    margin-left: 10px;
}
.login a{
    text-align: left;
    margin-left: 5px;
}
>>>>>>> Stashed changes
